* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body{
	font-family: 'Quicksand', sans-serif;
	color: white;
	display: flex;
	flex-direction: column;
	align-items: center;
	color: white;
	background-size: cover;
	background-position: center center;
	background-image: url("../img/temp_backgrownd.jpg");
	background-repeat: no-repeat;
	font-size: 27px;
}

.wrapper{
	max-width: 90%;
}

.main_temprature{
	font-size: 12em;
	line-height: 1em;
}

.day_name{
	font-size: 25px;
}

.tmp_number{
	font-size: 2em;
}

#map{
  border-radius: 20px;
  height: 300px;
  width: 400px;
}